<div class="main-content">
    <div class="container-fluid">
        <div class="col-md-auto">
            <div class="card">
                <div class="card-header card-header-info">
                    <h3 class="card-title font-weight-bold">Request Asset</h3>
                </div>
                <div class="card-body">
                    <form [formGroup]="Form" (ngSubmit)="onSubmit()">
                        <mat-form-field appearance="outline">
                            <mat-label>Select Asset Type</mat-label>
                            <mat-select formControlName="assetype">
                                <mat-option *ngFor="let asset of assetTypeList" [value]="asset.id " >
                                    {{asset.name}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                        <div class="py-sm-4 row ">
                            <div class="col-md-12">
                                <label>Description</label>
                                <mat-form-field class="example-full-width">
                                    <textarea matInput placeholder=""  formControlName="requestMessage" ></textarea>
                                </mat-form-field>
                            </div>
                        </div>
                        <button mat-raised-button [mat-dialog-close]="" type="submit"  class="btn btn-info pull-right">Send Request</button>
                        <div class="clearfix"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
