<div class="main-content">
    <div class="col-sm"> <a (click) ="addSuppliers()"  class="btn btn-info btn-round ">Add Supplier</a> </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h3 class="card-category">Suppliers</h3>
                        <h4 class = 'card-description'> Here's the list of companies that supply assets</h4>
                    </div>
                    <div class="card-body">
                        <br>
                        <div>
                            <mat-form-field class="col-md-6">
                                <mat-label>Search for supplier...</mat-label>
                                <input matInput (keyup)="suppliersFilter($event)" placeholder="e.g. TelOne">
                            </mat-form-field>
                        </div>
                        <div class=" align-center table-container">
                            <table class="table" mat-table [dataSource]="supplierDataSource" >

                                <!-- Account Number Column -->
                                <ng-container matColumnDef="supplier-name">
                                    <th class="text-black" mat-header-cell *matHeaderCellDef><h5>
                                        <b>Name</b>
                                    </h5></th>
                                    - <td   mat-cell *matCellDef="let element"> {{element.name}} </td>
                                </ng-container>

                                <!-- Account Name Column -->
                                <ng-container matColumnDef="supplier-address">
                                    <th class="text-black" mat-header-cell *matHeaderCellDef><h5>
                                        <b>Address </b>
                                    </h5></th>
                                    <td  mat-cell *matCellDef="let element"> {{element.address}} </td>
                                </ng-container>

                                <!-- Account Name Column -->
                                <ng-container matColumnDef="supplier-contact">
                                    <th class="text-black " mat-header-cell *matHeaderCellDef><h5>
                                        <b>Contact </b>
                                    </h5></th>
                                    <td  mat-cell *matCellDef="let element"> {{element.contact}} </td>
                                </ng-container>

                                <!-- Account Name Column -->
                                <ng-container matColumnDef="supplier-email">
                                    <th class="text-black  px-lg-5" mat-header-cell *matHeaderCellDef><h5>
                                        <b>Email Address </b>
                                    </h5></th>
                                    <td class="px-lg-5"  mat-cell *matCellDef="let element"> {{element.emailAddress}} </td>
                                </ng-container>


                                <ng-container matColumnDef="edit">
                                    <th class="text-black  px-lg-5" mat-header-cell *matHeaderCellDef><h5><b> Edit
                                    </b></h5></th>
                                    <td class="px-lg-5 " style="color: forestgreen"  mat-cell *matCellDef="let element"
                                    >
                                <span  (click)="openEditType(element)"  > Edit <button
                                        mat-raised-button type="button" matTooltip="Edit "
                                        [matTooltipPosition]="'above'"
                                        class="btn btn btn-link btn-sm btn-just-icon" style="color: forestgreen" >
                                            <i class="material-icons">edit</i>
                                        </button></span>
                                    </td>
                                </ng-container>

                                <ng-container matColumnDef="delete" >
                                    <th class="text-black px-lg-5" mat-header-cell *matHeaderCellDef ><h5><b>
                                        Delete  </b></h5></th>
                                    <td  class="px-lg-5 " style="color: red" mat-cell *matCellDef="let element"
                                    >
                                <span (click)="deleteSupplier(element)"> Delete  <button
                                        mat-raised-button type="button" matTooltip="Delete"
                                        [matTooltipPosition]="'above'"
                                        class="btn btn-danger btn-link btn-sm btn-just-icon">
                                            <i class="material-icons">delete   </i>
                                        </button></span>
                                    </td>

                                </ng-container>
                                <tr mat-header-row *matHeaderRowDef="supplierColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: supplierColumns;"></tr>
                            </table>


                        </div>
                        <mat-paginator #paginator = "matPaginator"
                                       [length]="supplierDataSource.data.length"
                                       [pageSize]="5"
                                       [pageSizeOptions]="[1,5,10]"
                                       showFirstLastButtons
                                       aria-label="Select page">
                        </mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
