<div class="main-content">
  <div class="container-fluid">
      <div class="container-fluid ">

          <div class="col-md-auto">
              <div class="card card-profile">
                  <div class="card-avatar">

                          <img alt= "" class="img" src="./assets/img/faces/centerlogo.png" />

                  </div>
                  <div class="card-body" >

                          <h4 class="card-category text-gray ">
                              <div class="row container-fluid">
                                  <div class="font-weight-bold col" ><h4 class="font-weight-bold">Access Level: {{TokenData.role}}</h4></div>
                              </div>
                          </h4>

                      <h2 class="card-title">{{TokenData.email}}</h2>
                      <p class="card-description">
                        </p>

                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
